@model WebApplication1.Models.ContactMessage


@{
    ViewBag.Title = "Index";
}

<!-- ==============================================
     CONTACT
     =============================================== -->
<section id="contact" class="big-padding light-typo color-overlay">

    <div class="container">

        <h1 class="section-title">Contact Me</h1>

        <div class="row">

            <div class="col-sm-6 col-md-5 scrollimation fade-right">

                <p class="lead">I am available for freelance. <br />Can't wait for the next exciting project! Could it be yours?</p>

                <p>
                    Ray Goodwin<br />
                    4715 Castle Hill Rd<br />
                    Raleigh, NC (North Carolina) 27616<br />
                    (919) 757 - 8383 <br />
                </p>

                <div class="social-links">
                    <a href="https://github.com/rgoodwin16"><i class="fa fa-fw fa-github-square"></i></a>
                    <a href="https://facebook.com/nanyeeast"><i class="fa fa-fw fa-facebook-square"></i></a>

                </div>

                <p><a class="mail-styled" href="mailto:rgoodwin16@outlook.com">rgoodwin16@outlook.com</a></p>

            </div>
            
            <!--=== Contact Form ===-->
            <form id="contactForm" class="col-sm-6 col-md-offset-1 scrollimation fade-left" action="@Url.Action("Index", "Contact")" method="post" novalidate>
                @Html.AntiForgeryToken()
                <div><h3>@ViewBag.MessageSent</h3></div>
                <div class="form-group">
                    <div>
                        
                        <label class="control-label" for="contact-name">Name</label><br /><br />
                        <input id="contact-name" name="contactName" class="form-control requiredField" type="text" data-error-empty="is required">
                    </div>
                </div><!-- End name input -->

                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="contact-mail">Email</label><br /><br />
                        <input id="contact-mail" name="FromEmail" class="form-control requiredField" type="email" data-error-empty="is required" data-error-invalid="is invalid">
                    </div>
                </div><!-- End email input -->

                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="contact-mail">Subject</label><br /><br />
                        <input id="contact-mail" name="Subject" class="form-control requiredField" type="email" data-error-empty="is required" data-error-invalid="is invalid">
                    </div>
                </div><!-- End Subject input -->


                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="contact-message">Message</label><br /><br />
                        <textarea id="contact-message" name="Message" class="form-control requiredField" rows="6" data-error-empty="is required"></textarea>
                    </div>
                </div><!-- End textarea -->

                <<input type="submit" value="Send It" class="btn btn-default" />
                

            </form><!-- End contact-form -->

        </div>

    </div>

</section>

