
@{
    ViewBag.Title = "ConfirmationSent";
}



<!-- ==============================================
     CONFIRMATION SENT
=============================================== -->
<section class="big-padding">

    <div class="container">

        <h2>Thank You for confirming your email.</h2>

    </div><!-- End Container -->

</section><!-- End Section -->