@{
    ViewBag.Title = "Login Failure";
}


<!-- ==============================================
     EXTERNAL LOGIN FAILURE
=============================================== -->
<section class="big-padding">

    <div class="container">

        <hgroup>
            <h2>@ViewBag.Title.</h2>
            <h3 class="text-danger">Unsuccessful login with service.</h3>
        </hgroup>

    </div><!-- End Container -->

</section><!-- End Section -->