<!-- ==============================================
     PORTFOLIO
     =============================================== -->
<section id="portfolio" class="big-padding">

    <div class="container">

        <h1 class="section-title">My portfolio</h1>
        <p class="subtitle">See an example of my code code in action.</p>

        <!--==== Portfolio Filters ====-->

        <div class="text-center scrollimation fade-up">
            <div id="filter-works" class="btn-group">
                <button data-filter="*" type="button" class="btn btn-default active">All Items<span class="project-count"></span></button>
                <button data-filter=".web" type="button" class="btn btn-default">Javascript<span class="project-count"></span></button>
                <button data-filter=".print" type="button" class="btn btn-default">Bug Tracker<span class="project-count"></span></button>
                <button data-filter=".video" type="button" class="btn btn-default">Budget Tool<span class="project-count"></span></button>
            </div>
        </div>

    </div>

    <div class="container scrollimation fade-up">

        <div id="projects-container" class="row">

            <!-- ==============================================
            CODING EXAMPLES
            =============================================== -->

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("Max", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/calc.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Max Of Five | Sum of Five | Product of 5</h2><!-- Max | Sum | Product -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("Factorial", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/factorial.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Factorials</h2><!-- Factorial -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("Perfect", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/trophy.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Perfect Numbers</h2><!-- Perfect Numbers -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("Happy", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/smile.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Happy Numbers</h2><!-- Happy Numbers -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="@Url.Action("Armstrong", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/rocket.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Armstrong Numbers</h2><!-- Armstrong Numbers -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("Palindrome", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/exchange.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Palindrome</h2><!-- Palindrome -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("FizzBuzz", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/coffee.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">FizzBuzz</h2><!-- FizzBuzz -->
                    <p>Javascript</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("Longest", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/text_height.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Longest Word</h2><!-- Longest -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("WordSearch", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/search.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Word Search</h2><!-- WordSearch -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("WordFilter", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/filter.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Word Filter</h2><!-- Word Filter -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?@Url.Action("WordFreq", "Exercises")">

                <img class="img-responsive project-image" src="~/images/projects/sort.png" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Word Frequency</h2><!-- WordFreq -->
                    <p>Javascript Example</p><!--Project Subtitle -->
                </div>

            </a>

                  

        </div>

        <p class="lead text-center">Like what you see? Contact me to discuss about your project!</p>
        <p class="text-center"><a class="btn btn-dc btn-small btn-main-color" href="/contact">Contact Me</a></p>

    </div>


  
</section>



@section scripts {
    <script src="/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
}